# Network analysis of grocery items



#### Import the moduls needed

In [84]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt

#### Read the file

In [2]:
groceries = pd.read_csv("...") #Groceries_dataset.csv

#### Check the data set

In [5]:
groceries.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [3]:
groceries.shape

(38765, 3)

In [22]:
groceries.isnull().sum()

Member_number      0
Date               0
itemDescription    0
dtype: int64

#### Get all unique customers in the data set

In [55]:
customers = np.unique(np.array(groceries['Member_number']))
customers

array([1000, 1001, 1002, ..., 4998, 4999, 5000], dtype=int64)

#### Create all possible combinations between grocery items
A dictionary with all counts zero. Counts will change later.

In [66]:
combos = {}
items = np.unique(np.array(groceries['itemDescription']))
for i in range(len(items)):
    for j in range(i+1, len(items)):
        if items[i] < items[j]:
            pair = (items[i], items[j])
        else:
            pair = (items[j], items[i])
            
        combos[pair] = 0

In [85]:
#combos

#### Count tall the pair iitems bought together

Here we look for each user and each purchase and count pairs of this purchese history of the customer.

In [69]:
for c in customers:
    condition1 = groceries['Member_number'] == c
    purcheses = groceries[condition1]
    dates = np.unique(np.array(purcheses['Date']))
    
    for d in dates:
        condition2 = groceries['Member_number'] == c
        condition3 = groceries['Date'] == d
        products = groceries[condition2 & condition3]
        
        items = np.unique(np.array(products['itemDescription']))
        for i in range(len(items)):
            for j in range(i+1, len(items)):
                if items[i] < items[j]:
                    pair = (items[i], items[j])
                else:
                    pair = (items[j], items[i])

                combos[pair] = combos[pair] + 1

#### Preprare to export the data sets
The first is the data for the nodes and the second is the edges or pairs of products

In [76]:
products = set(list(groceries['itemDescription']))
prod_dict = {}
for i, p in enumerate(products):
    prod_dict[p] = i

source = list()
target = list()
weight = list()
for k, v in combos.items():
    if v != 0:
        p1, p2 = k
        source.append(prod_dict[p1])
        target.append(prod_dict[p2])
        weight.append(v)

In [83]:
pd.DataFrame({
    'id': prod_dict.keys(),
    'label': prod_dict.values()
}).to_csv('nodes_table.csv', sep = ',')

pd.DataFrame({
    'source': source,
    'target': target,
    'weight': weight
}).to_csv('edges_table.csv', sep = ',')

## Use Gephi to visualize the network graph

![Network Graph](groceries.png)